.mainContainer {
  padding: 24px 80px;
}

/* Header styling */
header {
  height: 5rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid #ddd;
  padding: 0 80px;
}

.logo {
  display: flex;
}

/* Logo section */
.appName {
  color: #065E14;
  font-family: 'Inter', sans-serif;
  font-size: 20px;
  font-weight: 600;
  line-height: 30px;
  padding-right: 40px;
}

/* Navigation menus */
.headerMenus {
  display: flex;
  align-items: center;
  gap: 35px;
  flex: 1;
}

.menus {
  color: #475467;
  font-size: 16px;
  font-weight: 700;
  line-height: 24px;
  cursor: pointer;
}

/* Select dropdown */
select {
  font-family: 'Inter', sans-serif;
  font-weight: 600;
  line-height: 24px;
  font-size: 16px;
  color: #475467;
  border: none;
  padding: 0.5rem;
  background-color: transparent;
}

/* buttons section */
.headerbuttons {
  display: flex;
  align-items: center;
}

.primaryBtn {
  font-size: 16px;
  font-weight: 600;
  line-height: 24px;
  border-radius: 8px;
  border: 1px solid #065E14;
  background-color: #065E14;
  color: white;
  padding: 10px 18px;
  width: 125px;
  cursor: pointer;
  text-transform: capitalize;
  box-shadow: 0px 1px 2px rgba(16, 24, 40, 0.05);
}

/* Secondary button */
.secondaryBtn {
  font-family: 'Inter', sans-serif;
  font-size: 16px;
  font-weight: 600;
  line-height: 24px;
  border-radius: 8px;
  border: 1px solid #065E14;
  background-color: white;
  color: #065E14;
  padding: 10px 18px;
  width: 125px;
  margin-right: 1rem;
  cursor: pointer;
  text-transform: capitalize;
  box-shadow: 0px 1px 2px rgba(16, 24, 40, 0.05);
}

.largeHeading span {
  font-size: 32px !important;
  font-weight: 700 !important;
}

.smallHeading span {
  font-size: 14px;
  color: #475467;
}

.largeHeading,
.smallHeading {
  padding-bottom: 8px;

}

.exploreBtn,
.homeHeader {
  margin-bottom: 24px;
  margin-top: 24px;
}

.tab-card,
.rating-card {
  border-radius: 12px;
  box-shadow: 0px 1px 8px rgba(17, 17, 17, 0.16);
  padding: 40px;
}

h2 {
  margin-bottom: 24px;
}

.offerDiv {
  background-color: #f9fafb;
  padding: 24px 80px;
}

.offerringList {
  margin: 24px 0;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.offerringListItem {
  text-align: center;
  gap: 8px;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 24px;
}

.offerringListItem img {
  display: block;
  margin: 0 auto;
}

.offerringListItemHeader {
  font-weight: 700;
}

.offerringListItemContent {
  font-size: 14px;
  color: #a0a0a0;
  text-align: center;
}

.newlyListedLandsSlider {
  margin: 32px 0;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.mask {
  width: 268px;
  border: 1px solid rgba(0, 0, 0, 0.14);
  box-shadow: 0px 1px 8px rgba(17, 17, 17, 0.16);
  border-radius: 12px;
  overflow: hidden;
  padding: 18px;
  background-color: #F9FAFB;
}

.masked-image {
  width: 100%;
  height: auto;
}

.slider-card-content {
  background-color: #F9FAFB;
}

.card-title-rating {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 10px 0;
  color: #a0a0a0;
}

.card-price {
  font-size: 28px;
  font-weight: 700;
  padding-bottom: 10px;
}

.cardLocation {
  display: flex;
  gap: 5px;
  padding-bottom: 15px;
}

.rating-value {
  font-size: 12px;
  margin-left: 4px;
}

.card-content {
  padding-left: 20px;
  flex-grow: 1;
}

.location-div {
  display: flex;
  align-items: center;
  justify-content: space-between;
}


.locationText {
  align-items: center;
  font-size: 14px;
  color: #a0a0a0;
}

.locationIcon {
  width: 20px;
  height: 20px;
  align-self: center;
}

.location-txt {
  padding-left: 4px;
  font-size: 12px;
  font-weight: 500;
  color: #626262;
}

.card-actions {
  display: flex;
  justify-content: flex-end;
  gap: 12px;
}

.rating {
  background-color: #FBBC05;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 20px;
  width: 50px;
  height: 25px;
  position: absolute;
  top: 5px;
  left: 80px;
}

.star-icon {
  font-size: 16px;
}

.smallPrimaryBtn {
  font-size: 12px;
  font-weight: 500;
  background-color: #065E14;
  color: white;
  border: 1px solid #065E14;
  border-radius: 8px;
  padding: 8px 12px;
  cursor: pointer;
}

.star-rating {
  margin-left: 15px;
  align-items: center;
  padding: 5px 12px 7px 12px;
  border-radius: 8px;
  background-color: #FBBC05;
}

.arrow {
  font-size: 42px !important;
  border: 2px solid #A0A0A0;
  border-radius: 50px;
  width: 95px !important;
  color: #A0A0A0;
  height: 58px;
  text-align: center;
  cursor: pointer;
}

.arrowNavigation {
  justify-content: center;
  display: flex;
  gap: 24px;
  padding-top: 24px
}

.testimonialContainer {
  margin: 32px 0;
  padding: 88px 32px;
  border-radius: 25px;
  background-color: #f9fafb;
}

.testimonialCard {
  background-color: #fff;
  border-radius: 12px;
  box-shadow: 0 1px 8px rgba(17, 17, 17, 0.16);
  padding: 40px;
  margin-bottom: 30px;
  width: 500px;
  position: relative;
}

.authorNameContainer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-bottom: 18px;
}

.authorName span {
  font-size: 24px !important;
  font-weight: 600 !important;

}

.starsContainer {
  display: inline-block;
}

.stars {
  color: #ccc;
  font-size: 24px;
}

.stars .filled {
  color: #F99F19;
}

.testimonialImgDiv {
  position: absolute;
  top: -43px;
  left: 35px
}

.testimonialImg {
  width: 75px;
  border: 8px white solid;
  border-radius: 50%;
}

.testimonialContent {
  margin-top: 14px;
}



/* login page  */

.login-background {
  width: 100%;
  height: calc(100vh - 80px);
  position: relative;

  .left-section {
    width: 75%;
    height: 100%;

    .content {
      display: flex;
      height: 100%;
      flex-direction: column;
      justify-content: center;
      width: 75%;
      padding: 0 56px;
      color: #fff;

      h1 {
        font-size: 80px;
        line-height: 80px;
        font-weight: bold;
        margin-bottom: 36px;
      }

      p {
        font-size: 18px;
      }
    }
  }

  .right-section {
    position: absolute;
    width: 40%;
    background-color: #F2F4F7;
    height: 95%;
    top: 2.5%;
    right: 1%;
    border-top-left-radius: 24px;
    border-bottom-left-radius: 24px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

}

.login-form-data {
  display: flex;
  flex-direction: column;
  justify-content: start;
  width: 100%;
  padding: 0 100px;

  h1 {
    font-size: 36px;
    font-weight: bold;
  }

  p {
    font-size: 14px;
    color: #626262;
  }

  .login-form {
    display: flex;
    flex-direction: column;
    margin-top: 20px;

    .otp-input {
      display: flex;
      flex-wrap: nowrap;
      justify-content: space-between;
      input {
        width: 40px;
      }
    }
  }

  .login-form label {
    font-size: 14px;
    color: #626262;
    margin-bottom: 5px;
  }

  .login-form input {
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
  }

  .form-footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;

    .forgot-password {
      margin-top: -40px;
    }

    div {
      .terms {
        margin-right: 10px;
      }
    }
  }

  .form-footer a {
    color: #1890ff;
    text-decoration: none;
  }

  .login-button {
    padding: 10px;
    background-color: #065E14;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }

  .login-button:hover {
    background-color: #3ab64e;
  }

  .social-login {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
  }

  .social-btn {
    padding: 10px;
    width: 48%;
    border-radius: 12px;
    cursor: pointer;
    display: flex;
    height: auto;
    align-items: center;
    justify-content: center;
    gap: 8px;
    img {
      width: 20px;
      height: 20px;
    }
  }

  .social-btn.google, .social-btn.apple {
    border: 1px solid #065E14;
  }

  .signup-text {
    margin-top: 20px;
    /* text-align: center; */
  }

  .signup-text a {
    color: #065E14;
    text-decoration: none;
    font-weight: bold;
  }

  .signup-text a:hover {
    text-decoration: underline;
  }

  .back-to-login {
    display: flex;
    height: auto;
    align-items: center;
    gap: 12px;
    margin-bottom: 100px;
  }
}